@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media (max-width: 600px) {
    .Titel-article{
        background-image: none!important;
    }

    body:not(nav){
        background-image: url("/img/welcome_background.png") !important;
    }
}
  
body {
    font-family: 'Inter';
    background-color: #90AFC5;
    color: #336B87;
}


.flexbox-container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 20px;
}

.flexbox-nav-title{
    text-decoration: none;
    color: #336B87;
    font-family: "inter";
    font-size: 3vw;
    margin-left: 2vw;
}

.flexbox-nav-sites {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.flexbox-nav-sites-item {
    text-decoration: none;
    color: #336B87;
    font-size: 2.5vw;
    margin-left: 1.5vw;
    margin-right: 5vw;
}

.nav-hr {
    border: 0.3vw solid #2A3132;
    border-radius: 100px;
    margin-left: 1.8vw;
    margin-right: 1.8vw;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1vw;
    z-index: 100;
}

.footer-kontakt {
    text-decoration: none;
    color: #336B87;
    font-size: 1.8vw;
    margin-right: 0.1vw;
    color: #763626;
}

.Titel-article{
    height: 40vw;
    width: auto;
    background-image: url("/img/Titel-Foto.png");
    background-size: cover;
}

.Titel {
    color: white;
    font-size: 4vw;
    margin: 2vw;
    z-index: 2;
}

.Titel-text {
    color: white;
    font-size: 1.5vw;
    margin-left: 2vw;
    z-index: 2;
}