@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media (max-width: 600px) {
    .portfolio-main {
        flex-direction: column !important;
    }

    .portfolio-Bild {
        width: 70vw !important;
        height: auto !important;
        margin-top: 5vw !important;
    }

    .portfolio-Text {
        font-size: 3vw !important;
        margin-top: 2vw !important;
    }
}
  
body {
    font-family: 'Inter';
    background-color: #90AFC5;
    color: #336B87;
}


.flexbox-container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 20px;
}

.flexbox-nav-title{
    text-decoration: none;
    color: #336B87;
    font-family: "inter";
    font-size: 3vw;
    margin-left: 2vw;
}

.flexbox-nav-sites {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.flexbox-nav-sites-item {
    text-decoration: none;
    color: #336B87;
    font-size: 2.5vw;
    margin-left: 1.5vw;
    margin-right: 5vw;
}

.nav-hr {
    border: 0.3vw solid #2A3132;
    border-radius: 100px;
    margin-left: 1.8vw;
    margin-right: 1.8vw;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1vw;
    z-index: 100;
}

.footer-kontakt {
    text-decoration: none;
    color: #336B87;
    font-size: 1.8vw;
    margin-right: 0.1vw;
    color: #763626;
}

.portfolio-Titel{
    font-size: 3vw;
    margin-left: 40vw;
    margin-top: 0.5vw;
    margin-bottom: 0px;
    color: #ffffff;
}

.portfolio-main{
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio-Text{
    font-size: 2vw;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
}

.portfolio-Bild{
    height: 35vw;
    width: 40vw;
    margin-right: 5vw;
}
