@media (max-width: 600px) {
    .fk-container2 {
        flex-direction: column !important;
    }

    .fk-text {
        font-size: 2.5vw !important;
    }

    .fk-img {
        width: 23vw !important;
        height: 23vw !important;
    }
}

.flexbox-container-nav .flexbox-nav-sites :nth-child(3) {
    font-weight: 1000;
}

.fk-container{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.fk-container2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fk-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.fk-text{
    font-size: 1.5vw;
}

.fk-img{
    width: 18vw;
    height: 18vw;
    margin-right: 1vw;
}